body{
margin: 0%;
width: 100%;
}

.caixa {
width: 100%;

margin: 0 auto;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0 ;
}

nav{
    position: absolute;
    top: 15%;
    right: 7%;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;


}
main{
    width: 100%;
}
.produtos{
    width: 100%;

}
.produtos ul{
    padding: 20px 0;
    text-align: center;
}

.produtos li {
    display: inline-block;
    text-align: center;
    margin: 0 1,5%;
    padding: 20px 10px; 
    box-sizing: border-box ;
}

.produtos h2 {
    font-weight: bold;
}

.descrição{
    font-size: 18px;
}

.Preço {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

