body{
margin: 0%;
}

.caixa {
width: 100%;

margin: 0 auto;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0 ;
}

nav{
    position: absolute;
    top: 15%;
    right: 7%;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;


}